projectNotes.aux
projectNotes.log
projectNotes.out
projectNotes.synctex.gz
projectNotes.text
Documentation/specification.out
Documentation/specification.aux
Documentation/specification.log
Documentation/specification.synctex.gz
